{% extends 'base.html.twig' %}

{% block title %}Liste des pages{% endblock %}

{% block body %}
<div class="my-5 py-5">
    <div class="col-lg-9 mx-auto overflow-auto">
        <h1>Liste des pages</h1>

        <a class="btn btn-primary float-end m-2" href="{{ path('app_page_new') }}">Créer une nouvelle page</a>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre de la page</th>
                    <th>Image</th>
                    <th>Contenu</th>
                    <th>Histoire liée</th>
                    <th>Page de démarrage</th>
                    <th>Type de page</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.id }}</td>
                    <td>{{ page.title }}</td>
                    <td><img src="{{ page.image }}" height="100px" alt="poster de {{ page.title }}"></td>
                    <td>{{ page.content|length > 80 ? page.content|slice(0, 80)|split(' ')|slice(0, -1)|join(' ') ~ '…' : page.content }}</td>
                    <td>{{ page.story }}</td>
                    <td>{{ page.start ? 'Oui' : 'Non' }}</td>
                        {% if ((page.pageEnd ? page.pageEnd|join(', ') : '') == false) %}
                            <td>Aller vers une autre page</td>
                        {% elseif ((page.pageEnd ? page.pageEnd|join(', ') : '') == 1) %}
                            <td>Victoire</td>
                        {% elseif ((page.pageEnd ? page.pageEnd|join(', ') : '') == 2) %}
                            <td>Défaite</td>
                        {% else %}
                            <td> test</td>
                        {% endif %}
                    <td>
                    <div class="btn-group-vertical">
                        <a class="btn btn-info m-1" href="{{ path('app_page_show', {'id': page.id}) }}">Voir</a>
                        <a class="btn btn-warning m-1" href="{{ path('app_page_edit', {'id': page.id}) }}">Modifier</a>
                    </td>
                    </div>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas de pages trouvées</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary float-end m-2" href="{{ path('app_page_new') }}">Créer une nouvelle page</a>

        {# display navigation #}
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(pages) }}
        </div>

    </div>
</div>

{% endblock %}
