{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
<div class="my-5 py-5">
    <div class="col-lg-6 mx-auto">
    <a class="btn btn-info m-1 float-end" href="{{ path('app_page_index') }}">Revenir à la liste</a>
    <h1>Page</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ page.image }}" height="100px" alt="poster de {{ page.title }}"></td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ page.content }}</td>
            </tr>
            <tr>
                <th>Page de démarrage</th>
                <td>{{ page.start ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Type de page</th>
                    {% if ((page.pageEnd ? page.pageEnd|join(', ') : '') == false) %}
                        <td>Aller vers une autre page</td>
                    {% elseif ((page.pageEnd ? page.pageEnd|join(', ') : '') == 1) %}
                        <td>Victoire</td>
                    {% elseif ((page.pageEnd ? page.pageEnd|join(', ') : '') == 2) %}
                        <td>Défaite</td>
                    {% else %}
                        <td> test</td>
                    {% endif %}
            </tr>
        </tbody>
    </table>


    <a class="btn btn-primary col-2 m-1" href="{{ path('app_page_edit', {'id': page.id}) }}">Modifier</a></button>

    {{ include('page/_delete_form.html.twig') }}
        </div>
</div>
{% endblock %}
