{% extends 'base.html.twig' %}

{% block title %}Liste des choix{% endblock %}

{% block body %}
<div class="my-5 py-5">
    <div class="col-lg-9 mx-auto">
    <h1>Liste des choix</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Page_id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for choice in choices %}
            <tr>
                <td>{{ choice.id }}</td>
                <td>{{ choice.name }}</td>
                <td>{{ choice.description }}</td>
                <td>{{ choice.pageId }}</td>
                <td>
                    <a href="{{ path('app_choice_show', {'id': choice.id}) }}">Voir</a>
                    <a href="{{ path('app_choice_edit', {'id': choice.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de choix trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <a href="{{ path('app_choice_new') }}">Créer un nouveau choix</a>
    </div>
</div>
{% endblock %}
