{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

<div class="my-5 py-5">
    <div class="col-lg-9 mx-auto">
    <h1>Liste des utilisateurs</h1>
    <a class="btn btn-primary float-end m-2" href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Rôles</th>
                <th>Pseudo</th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                {% if (user.roles) %}
                    {% if ((user.roles ? user.roles|json_encode : '') == '["ROLE_USER"]') %}
                        <td>Utilisateur</td>
                    {% elseif ((user.roles ? user.roles|json_encode : '') == '["ROLE_MANAGER"]') %}
                        <td>Modérateur</td>
                    {% elseif ((user.roles ? user.roles|json_encode : '') == '["ROLE_ADMIN"]') %}
                        <td>Administrateur</td>
                    {% else %}
                        <td> </td>
                    {% endif %}
                {% endif %}
                <td>{{ user.nickname }}</td>
                <td>
                <div class="btn-group-vertical">
                    <a class="btn btn-info m-1" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                    <a class="btn btn-warning m-1" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'utilisateurs trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <a class="btn btn-primary float-end m-2" href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
    {# display navigation #}
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(users) }}
        </div>

    </div>
</div>
{% endblock %}
